{% extends 'base.html' %}

{% block head %}
<title>Edit</title>
{% endblock %}



{% block body %}
<h1>Editing Post</h1>

    <hr>
    <h2>Post:</h2>
    <form action='/posts/edit/{{post.id}}' method='POST'>
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value='{{post.title}}' placeholder="Enter Title" aria-label="Enter Title">
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="text" name="author" id="author" value='{{post.author}}' placeholder="Enter Author" aria-label="Enter Author">
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" placeholder="Enter Content" aria-label="Enter Content" rows="3">{{ post.content }}</textarea>
        <br>
        <input class="btn btn-success" type="submit" value="Save">
    </form>
     
        

{% endblock %}
 