{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div class="bd-example">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Welcome to the VTech Blog! Here we'll taking about everything computer science.</p>
        <hr class="my-4" />
        <p>Go visit us at our website <a href="#">VTech</a>.</p>
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/posts" role="button">Go To Posts</a>
        </p>
    </div>
</div>

{% endblock %}